#footer{
  background-color: #282828;
  padding-top: 60px;
  padding-bottom: 64px;
}
#footer:before{
  border-top: 1px solid #7a7a7a;
  bottom: 300px;
}

.xans-layout-footer .footer-inner{
  position: relative;
  display: flex;
    justify-content: space-between;
    

}
.xans-layout-footer .util{
  padding-bottom: 25px;

}

.xans-layout-footer .sns{
  position: absolute;
  right: 0;
  bottom: 25px;
}
.xans-layout-footer .util li a{
  color: #fff;
  text-decoration: none;
}
.xans-layout-footer .sns a:last-child{
  margin-right: 0;
}
.xans-layout-footer .info__address{
  color: #929191;
}
.xans-layout-footer .info__address span{
  padding-right:7px;
  line-height: 1.6;
  color: #929191;
}
.xans-layout-footer .info__address span a{
  color: #929191;
}
.xans-layout-footer .info__address span a:hover{
  text-decoration: none;
}
.xans-layout-footer .info .title{
  color: #fff;
}
.xans-layout-footer .info .tel, .xans-layout-footer .info .bank{
  color: #fff;
  font-size: 25px;
}
.xans-layout-footer .info .runtime, .xans-layout-footer .info .bank_count{
  color: #d5d4d4;
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
  line-height: 1.4;
}
.xans-layout-footer .copyright{
  margin-top: 25px;
  text-transform: uppercase;
}
.xans-layout-footer .hosting{
  color: #929191;
}
